.appointment{
  width: 300px;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-info{
  margin-bottom: 15px;
}

.appointment-item{
  width: 140px;
  margin-bottom: 10px;
}

.appointment-item input{
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus{
  border-color: #663d15;
}

.appointment-item label{
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}