.button{
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;

  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active{
  background-color: #663d15;
}

.button.disabled,
.button:disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}


//gallery
.gallery-button{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-next{
  right: 0;
}

.gallery-button-back{
  left: 0;
}

//appointment

.appointment-button{
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}


//socials

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  color: #fff;
}

.social-button:hover,
.social-button:focus{
  background-color: #fff;
}

.social-button:hover .icon,
.social-button:focus .icon {
  fill: #000;
}

//login-form

.login-form .button{
  width: 100%;

}