.features{
  margin-bottom: 80px;
}

.features-list{
  display: flex;
  justify-content: space-between;
}

.features-item{
  width: 300px;

  text-align: center;
}

.features-item h3{
  position: relative;

  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.features-item h3::after{
  content: '';

  position: absolute;
  left: 50%;
  bottom: -30px;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #fff;

  transform: rotate(45deg);
}

.features-item p{
  margin: 0 10px;
}