.filter fieldset{
  border: none;
}

.filter legend{
  font-size: 24px;
  line-height: 30px;
}

.filter ul{
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label{
  color: #663d15;
}

.filter-input:disabled + label{
  color: #000;

  opacity:0.5;
}