.footer-copyright{
  width: 150px;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus{
  color: #000;

  background-color: #fff;
}

.footer-copyright .button{
  display: block;
  margin-right: 0;
}

.footer-copyright b{
  display: block;
  margin-bottom: 15px;
}