.footer-social{
  width: 145px;

  text-align: center;
}

.footer-social b{
  display: block;
  margin-bottom: 15px;
}

.socials{
  display: flex;
  width: 141px;
  flex-wrap: wrap;
  justify-content: space-between;
}

