.footer-contacts{
  width: 320px;
  margin-right: 80px;
}

.footer-contacts a{
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus{
  text-decoration: none;
}

