.gallery{
  width: 300px;
}

.gallery-content{
  height: 164px;
  margin: 0;

  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-content img{
  width: 286px;
  height: 164px;
}

.gallery-container{
  position: relative;

  height: 260px;
}

