.index-columns{
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000;

  background-color: #f8f5f2;
  background-image:
          url("/assets/index-column-line.png"),
          url("/assets/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2{
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}