.inner-page{
  color: #000;

  background-color: #f9f6f3;
  background-image: url("/assets/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page-title{
  font-size: 30px;
  line-height: 42px;
  
}

.inner-page .main-header{
  margin-bottom: 50px;
}