.main-footer{
  padding: 60px 0;

  color: #fff;

  background-color: #212121;
  background-image: url("/assets/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container{
  display: flex;
}