.main-header{
  margin-bottom: 75px;
}

.main-navigation-wrapper{
  width: 100%;
  margin-bottom: 60px;

  background-color: #000;
}

.main-navigation-wrapper .container{
  display: flex;
  justify-content: space-between;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: transparent;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:focus{
  background-color: #242424;
}

.user-navigation{
  max-width: 140px;
}

.user-navigation .login-link{
  position: relative;
  padding-left: 50px;
}

.login-link::before{
  content: '';

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("/assets/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before{
  opacity: 1;
}

.main-header-logo{
  order: 2;
}