.login-form input[type="text"],
.login-form input[type="password"]{
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-checkbox:hover,
.login-checkbox:focus{
  color: #663d15;
}

.restore{
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus{
  text-decoration: none;
}