.modal{
  position: fixed;

  color: #000;

  display: none;

  background-color: #f8f3f0;
  background-image: url("/assets/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login{
  top: 120px;
  left: 50%;

  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;
}

.modal h2{
  font-size: 30px;
  line-height: 42px;

  margin-bottom: 20px;
}

.modal-description{
  margin-bottom: 10px;
}

.login-form p{
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"]{
  width: 300px;
  box-sizing: border-box;
  padding: 10px 15px;
  padding-right: 40px;

  font: inherit;
  color: #000;
  text-transform: uppercase;


  border:2px solid #000;
}

.login-form input:focus{
  border-color: #663d15;
}

.login-form .login-help{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-icon-user{
  background-image: url("/assets/user.svg");
  background-position: 270px center;
  background-repeat:no-repeat;
}

.login-icon-password{
  background-image: url("/assets/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-checkbox{
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus{
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator{
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
  content: '';

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
   transform: rotate(45deg);
 }

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after{
  transform: rotate(-45deg);
}

.modal-close{
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border:0;

  cursor: pointer;
}

.modal-close::after,
.modal-close::before{
  content: '';

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::after{
  transform: rotate(45deg);
}

.modal-close::before{
  transform: rotate(-45deg);
}



//modal map

.modal-map{
  top: 50%;
  left: 50%;

  width: 766px;
  height: 561px;

  margin-top: -288px;
  margin-left: -390px;

  border: 7px solid white;
}

//js
@keyframes bounce {
  0% {transform: translateY(-2000px);}
  70% {transform: translateY(30px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-show{
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-error{
  animation-name: shake;
  animation-duration: 0.6s;
}