.pagination-item a{
  color: #fff;

  background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a{
  color: #000;

  background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active{
  color: #000;

  background-color: #fff;
}