.product-photo-preview li{
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0);
}

.product-photos{
  width: 460px;
}

.product-photo-full{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
}

.product-article{
  text-align: right;
  color: #aeaeae;
}

.product-article b{
  line-height: 20px;
  text-align: left;
  background-color: #e5e5e5;
}

.product-info{
  width: 390px;
}

.product-info h3{
  font-size: 24px;
  line-height: 30px;
}
