body, html {
	height: 100%;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;

	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("/assets/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}

img{
	width: 100%;
	height: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-footer {
	flex: 0 0 auto;
}

.main {
	flex: 1 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0,0,0,0);
	overflow: hidden;
}