include mixins/mixin

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge, chrome=1")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title
            block title
        link(href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet")
        // build:css css/vendor.min.css
        // bower:css
        // endbower
        // endbuild

        link(rel="stylesheet" href="css/main.min.css")

    body(class=asd)
        .wrapper
            block content


        block globalScripts
        // build:js js/vendor.min.js
        // bower:js
        // endbower
        // endbuild

        // build:js js/main.min.js
        block localScripts
        // endbuild
