extends ../layout

block title
    | Товар
block content
    header.main-header
        nav.main-navigation
            a(href="catalog.html").main-header-logo
                img(src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»")
            ul.site-navigation
                each desk, link in {'info.html':'Информация', 'news.html':'Новости', 'price.html':'Прайс-лист', 'catalog.html':'Магазин', 'contacts.html':"Контакты"}
                    li
                        a(href=link)= desk

            ul.user-navigation
                li.login-link Вход
    main.inner-page
        h1.page-title Набор для путешествий «Baxter of California»
        ul.breadcrumbs
            li
                a(href="index.html") Главная
            li
                a(href="catalog.html") Магазин
            li
                a(href="#") Средства для ухода
            li.breadcrumbs-current Набор для путешествий «Baxter of California»
        section.product-photos
            h2.visually-hidden Изображение товара
            p.product-photo-full
                img(src="" width="460" height="498" alt="Фото всего набора")
            ul.product-photo-preview
                li
                    img(src="" width="140" height="149" alt="Фото в анфас")
                li
                    img(src="" width="140" height="149" alt="Фото в профиль")
                li
                    img(src="" width="140" height="149" alt="Фото отдельной части")
        section.product-info
            h2.visually-hidden Описание товара
            p.availability Есть в наличии
            p.product-article Артикул: dexter-ae
            p.product-text Travel Kit - необходимый аксессуар во время любого путешествия. В аккуартной кожаной сумке
                | находится все, что нужно для бриться и ухода за кожей во время рабочей поездки или отдыха: средство для умывания,
                | увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.
            p.product-price
                b 2900 Р.
                a(href="#").button Купить
            h3 В набор входит:
            ul
                each item in ['Средство для умывания (50 мл)', 'Увлажняющий крем (50 мл)', 'Крем для бритья (50 мл)', 'Крем после бритья, шампунь (50 мл)', 'Удобная кожаная косметичка']
                    li= item

    footer.main-footer
        div(class="container")
            p.footer-contacts
                | Барбершопа «Бородинский»
                br
                | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                br
                a(href="map.html") Как нас найти
                br
                | Телефон: +8(343)504-11-32
            p.footer-social
                b Давайте дружить!
                ul.socials
                    each social in ['Вконтакте', 'Фейсбук', 'Инстаграм']
                        li
                            a(href="#").social-button= social
            p.footer-copyright
                b Разработано:
                a(href="#").button MyLink

    section(class="modal modal-login")
        h2 Личный кабинет
        p Введите свой логин и пароль
        span.modal-close x