extends ../layout


mixin catalogItem(catalogLink,category, itemTitle,srcIMG, wIMG, hIMG, altIMG, price)
    li.catalog-item
        a(href= catalogLink)
            h3
                span.catalog-category= category
                span.catalog-item-title= itemTitle
            p
                img(src=srcIMG width=wIMG height=hIMG alt=altIMG)
        p.catalog-item-price
            b= price
            a(href="#").button Купить

mixin filterGP(identificator, inputValue, desk, isChecked)
    li(class="filter-option")
        input(id=identificator  class="visually-hidden filter-input filter-input-radio" type="radio" name="product-group" value=inputValue, checked=isChecked)
        label(for=identificator )= desk

block title
    | Каталог товаров

block content
    header.main-header
        nav.main-navigation
            a(href="index.html").main-header-logo
                img(src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»")
            ul.site-navigation
                each desk, link in {'info.html':'Информация', 'news.html':'Новости', 'price.html':'Прайс-лист', 'catalog.html':'Магазин', 'contacts.html':"Контакты"}
                    if desk === "Магазин"
                        li.site-navigation-current
                            a(href= link)= desk
                    else
                        li
                            a(href= link)= desk
    main(class="inner-page")
        h1.page-title Средства для ухода
        ul.breadcrumbs
            li
                a(href="index.html") Главная
            li
                a(href="catalog.html") Магазин
            li.breadcrumbs-current Средства для ухода

        section.filters
            h2.visually-hidden Фильтр товаров
            form(class="filter" method="get" action="")
                fieldset
                    legend Производители:
                    ul
                        each item, ident in {'Baxter-of-california':'Baxter of California','Mr-natty':'Mr Natty','Suavecito':'Suavecito','Malin-goetz':'Malin+Goetz','Murray\'s':'Murray\'s','American-crew':'American crew'}
                            if item === 'Baxter of California' || item === "American crew" || item === "Suavecito"
                                li(class="filter-option")
                                    input(id=ident class="visually-hidden filter-input filter-input=checkbox" type="checkbox" name=item checked)
                                    label(for=ident)= item
                            else
                                li(class="filter-option")
                                    input(id=ident class="visually-hidden filter-input filter-input=checkbox" type="checkbox" name=item )
                                    label(for=ident)= item
                fieldset
                    legend Группы товаров:
                    ul
                        +filterGP('filter-shave','shaving', 'Бритвенные принадлежности')
                        +filterGP('filter-care','hair-care', 'Средства для ухода', 'checked')
                        +filterGP('filter-accessories','accessories', 'Аксессуары')
                button(class="button filter-button" type="submit") Показать

        sectioncatalog
            h2.visually-hidden Список средств для ухода
            ul.catalog-list
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
                +catalogItem('catalog-item.html', 'Набор для путешествий', '«Baxter of California»', 'img.jpg', 220, 165, 'Набор для путешествий «Baxter of California»', '2900 Р.')
            ul.pagination
                each number in [1, 2, 3, 4]
                    if number === 2
                        li.pagination-item.pagination-item-current
                            a(href="#")= number
                    else
                        li.pagination-item
                            a(href="#")= number

    footer.main-footer
        div(class="container")
            p.footer-contacts
                | Барбершопа «Бородинский»
                br
                | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                br
                a(href="map.html") Как нас найти
                br
                | Телефон: +8(343)504-11-32
            p.footer-social
                b Давайте дружить!
                ul.socials
                    each social in ['Вконтакте', 'Фейсбук', 'Инстаграм']
                        li
                            a(href="#").social-button= social
            p.footer-copyright
                b Разработано:
                a(href="#").button MyLink

    section(class="modal modal-login")
        h2 Личный кабинет
        p Введите свой логин и пароль
        span.modal-close x