extends ../layout
mixin featuresItem(title,desk)
    li.features-item
        h3= title
        p= desk

mixin newsItem(desk, fullDate, timeDesk)
    li.news-item
        p= desk
        time(datetime=fullDate)= timeDesk
block title
    | Главная страница

block content
    header.main-header
        nav.main-navigation
            a(href="catalog.html").main-header-logo
                img(src="assets/index-logo.svg" width="368" height="204" alt="Логотип Барбершопа «Бородинский»")
            div(class="main-navigation-wrapper")
                div(class="container")
                    ul.site-navigation
                        each desk, link in {'info.html':'Информация', 'news.html':'Новости', 'price.html':'Прайс-лист', 'catalog.html':'Магазин', 'contacts.html':"Контакты"}
                            li
                                a(href=link)= desk

                    ul.user-navigation
                        li
                            a(href="login.html").login-link Вход

    main(class="container")
        h1.visually-hidden Барбершоп Бородинский
        section.features
            h2.visually-hidden Преимущества
            ul.features-list
                +featuresItem('Быстро','Мы делаем свою работу быстро! Два часа пролетят незаметно и вы - частливый обладатель обладатель стильной стрижки-минутки!')
                +featuresItem('Круто','Забудьте как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.')
                +featuresItem('Дорого','Наши мастера - проффесионалы своего дела и немогут стоить дешего. К тому же, разве цена не дает определенный статус ?')

        div(class="index-columns")
            section.news
                h2 Новости
                ul.news-list
                    +newsItem('Мы наконец завезли ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки', '2018-09-01', '01 августа 2018')
                    +newsItem('В нашей команде пополнение, Борис "Бритва" Стригунец, обладатель множества титулов и наград пополнил наши ряды.', '2018-09-11', '11 августа 2018')
                a(href="news.html").button Все новости

            section.gallery
                h2 Фотогалерея
                div(class="gallery-container")
                    figure.gallery-content
                        a(href="#")
                            img(src="assets/studio.jpg" alt="Интерьер" width="285" height="164")
                    button(class="button gallery-button gallery-button-back") Назад
                    button(class="button gallery-button gallery-button-next") Вперед

        div.index-columns
            section.contacts
                h2 Контактная информация
                p
                    | Барбершопа «Бородинский»
                    br
                    | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                    br
                    | Телефон: +8(343)504-11-32
                p
                    | Время работы:
                    br
                    |пн-пт: с 10:00 до 22:00
                    br
                    | сб-вс с 10:00 до 15:00
                a(href="map.html").button Как проехать
                a(href="contacts.html").button Обратная связь

            section.appointment
                h2 Записаться
                p.appointment-info Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони.
                form(action="https://echo.htmlacademy.ru" method="post").appointment-form
                    p.appointment-item
                        label(for="appointment-date") Дата
                        input(type="text" id="appointment-date" name="date" value="" placeholder="08.10.2018")
                    p.appointment-item
                        label(for="appointment-time") Время
                        input(type="text" id="appointment-time" name="time" value="" placeholder="10:00")
                    p.appointment-item
                        label(for="appointment-name") Ваше имя
                        input(type="text" id="appointment-name" name="name" value="" placeholder="Борода")
                    p.appointment-item
                        label(for="appointment-phone") Телефон
                        input(type="tel" id="appointment-phone" name="phone" value="" placeholder="+7(343)555-12-34")
                    button(type="submit" class="button appointment-button") Отправить
    footer.main-footer
        div(class="container")
            p.footer-contacts
                | Барбершопа «Бородинский»
                br
                | Адрес: г. Екатеринбург, улица Пушкина, дом Колотушкина.
                br
                a(href="map.html") Как нас найти
                br
                | Телефон: +8(343)504-11-32
            div.footer-social
                b Давайте дружить!
                ul.socials
                    each social,svgName in {'vk':'Вконтакте','facebook':'Фейсбук','instagram':'Инстаграм'}
                        li
                            a(href="#" class="social-button")
                                span(class="visually-hidden")= social
                                +icon(svgName, 25, 25, "#fff")
            p.footer-copyright
                b Разработано:
                a(href="#").button MyLink

    section(class="modal modal-login")
        h2 Личный кабинет
        p(class="modal-description") Введите свой логин и пароль
        form(class="login-form" action="https://echo.htmlacademy.ru" method="post")
            p
                label(class="visually-hidden" for="user-login") Логин
                input(type="text" id="user-login" class="login-icon-user" name="login" placeholder="Логин")
            p
                label(class="visually-hidden" for="user-password") Пароль
                input(type="password" id="user-password" class="login-icon-password" name="password" placeholder="Пароль")
            p(class="login-help")
                label(class="login-checkbox" for="login-password-info") Запомнить меня
                    input(type="checkbox" id="login-password-info" class="visually-hidden" name="remember" )
                    span(class="checkbox-indicator")
                a(class="restore" href="#") Я забыл пароль!
            button(class="button" type="submit") Войти
        button(type="button").modal-close Закрыть

    section(class="modal modal-map")
        h2.visually-hidden Как до нас добраться
        p
            img(src="/assets/modal-map.jpg" width=780 height=560 alt="Офис компании по адресу г. Екатеринбург, улица Пушкина, дом Колотушкина.")
        button(type="button").modal-close Закрыть

block localScripts
    script(src="/js/scripts.js")